@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
    outline: none;
  }
  
  /* Asegúrate de que los estados de foco no tengan estilos adicionales */
  .custom-input:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: none;
  }

  hr {
    border: 0;
    height: 1px;
    background: #b4b4b4;
    
}